# Ignore node_modules and logs
node_modules
npm-debug.log

# Ignore build output
build
dist

# Ignore environment files
.env
.env.local

# Ignore system files
.DS_Store
*.swp

# Ignore test files
__tests__/
coverage
*.test.js
*.spec.js

# Ignore git and editor config
.git
.gitignore
.vscode
.idea
