.tabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px; 
  margin-bottom: 24px;
}

.tab-button {
  margin-left: 8px;
  background-color: #fff1e0;
  color: #a0522d;
  border: 2px solid brown;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  font-style: italic;
  min-width: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tab-button:hover {
  background-color: #ffe0b3;
  box-shadow: 0 4px 8px rgba(255, 200, 150, 0.2);
}

.tab-button.active {
  background-color: #ffd699; /* מודגש כשהטאב נבחר */
  box-shadow: 0 0 6px rgba(255, 165, 0, 0.3);
  border-color: #f4b860;
}
